<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Cinema" connectionString="data source=DESKTOP-SNPH9RR\sqlexpress;initial catalog=&quot;Cinema&quot;;integrated security=True;context connection=False;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>